.btn.btn-icon-split {
	display: flex;
	justify-content: flex-start;

	overflow: hidden;
	padding: 0;

	.icon {
		background: rgba(0, 0, 0, 0.15);
		color: rgba(255, 255, 255, 0.5);
	}

	.content {
		font-size: var(--bs-btn-font-size);
		font-weight: 600;
	}
}
