.App {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;

  padding: 40px;
  background: #efefef;

  .App-login {
    width: 450px;

    border: 1px solid #efefef;
    border-radius: 6px;

    background: white;

    .login-header {
      position: relative;

      height: 150px;
      border-bottom: 1px solid #efefef;

      .login-icon {
        position: absolute;
        top: 110px;
        left: calc(50% - 40px);

        width: 80px;
        height: 80px;

        border-radius: 100%;
        background: #fefefe;
      }
    }

    .login-body {
      padding: 80px 40px 40px 40px;

      .password {
        .icon-start {
          cursor: pointer;
        }
      }
    }
  }
}
