.react-select-container {
  width: 100%;

  .react-select__control {
    box-shadow: unset;

    .react-select__value-container {
      padding-right: 0;

      .react-select__single-value {
        margin: 0;
      }

      .react-select__placeholder {
        color: #a19f9f;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .react-select__input-container {
        margin: 0px;
        overflow: hidden;
      }
    }

    .react-select__indicators {
      .react-select__indicator-separator {
        display: none;
      }

      .react-select__indicator {
        padding-left: 0;
      }
    }

    &--menu-is-open {
      border-radius: 4px 4px 0 0;
    }
  }

  .react-select__menu {
    margin-top: 0;
    border-radius: 0 0 4px 4px;
    border: 1px solid #108fcf;
    border-top: 0;
    padding: 4px;

    box-shadow: unset;

    .react-select__menu-list {
      max-height: 200px;
      padding: 0px;
      overflow-y: auto;

      .react-select__option {
        border-radius: 4px;
        margin-bottom: 4px;
        padding: 4px;
        word-wrap: break-word;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      &::-webkit-scrollbar {
        width: 12px;
        border-left: 4px solid white;
        background: #f5f5f5;

        &-thumb {
          border-left: 4px solid white;
          background: #dddddd;
        }
      }
    }
  }

  &.is-invalid {
    .react-select__control {
      border: 1px solid #ef3737;
    }
  }
}
